<mat-card class="top-cards">
  <mat-card-title class="card-titles">Administrator ~ {{contentTitle}}</mat-card-title>
</mat-card>
<app-signup *ngIf="showCreateUser"></app-signup>
<mat-card class="bottom-cards">
  <mat-card-content>
    <button class="bg-color-grad-1 btns" mat-icon-button (click)="showContent(0)">
      <i class="material-icons">person_add</i>
    </button>
    <button class="bg-color-grad-2 btns" mat-icon-button>
      <i class="material-icons">group_add</i>
    </button>
    <button class="bg-color-grad-3 btns" mat-icon-button>
      <i class="material-icons">dashboard</i>
    </button>
    <button class="bg-color-grad-4 btns" mat-icon-button>
      <i class="material-icons">add_alert</i>
    </button>
    <button class="bg-color-grad-5 btns" mat-icon-button>
      <i class="material-icons">create</i>
    </button>
  </mat-card-content>
</mat-card>

