.bottom-cards {
    margin-top: 10px;
    background-color: #1A1A1A;//grey;
    //padding-top: 0;
    //padding-bottom: 0;
    padding: 1%;
}

.top-cards {
    background-color: #1A1A1A;//#252626;
}

.title-cards {
    border: 1px solid #1A1A1A;
    background-color: #beabd3;//#d4afff;
    color: #1A1A1A;
    margin: 15px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

mat-form-field {
    font-size: 12pt;
}

input {
    font-size: 12pt;
}

.title-span {
    padding-left: 10px;
    font-size: 16pt;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.btns {
    margin: 0px 3px;
}

.field-span {
    color: #998ea5;
}

/*


#title-search-icon {
    border-right: 1px solid #1A1A1A;
    padding-right: 10px;
    box-shadow: 2px 0px #1A1A1A;
}

#search-input {
    font-size: 2pt;
}*/