<mat-card class="top-cards">
  <mat-card-title class="card-titles">Moderator {{contentTitle}}</mat-card-title>
</mat-card>
<mat-card class="bottom-cards">
  <mat-card-content>
    <button class="bg-color-grad-6 btns" mat-icon-button>
      <i class="material-icons">person_add</i>
    </button>
    <button class="bg-color-grad-7 btns" mat-button>2</button>
    <button class="bg-color-grad-8 btns" mat-button>3</button>
    <button class="bg-color-grad-1 btns" mat-button>4</button>
    <button class="bg-color-grad-2 btns" mat-button>5</button>
  </mat-card-content>
</mat-card>