<mat-card id="room-in-card">
  <span>
    <input id="roomNumInput" matInput placeholder="Enter room #" (keyup)="roomInputKeyup($event)">
  </span>
  <span>
    <button mat-icon-button class="fg-color-7" (click)="connect()">
      <i class="material-icons">phone_in_talk</i>
    </button>
    <button mat-icon-button class="fg-color-8">
      <i class="material-icons">phone_forwarded</i>
    </button>
  </span>
</mat-card>

<mat-card>
  <mat-card-content>
    <video #localVideo id="localStream" autoplay playsinline></video>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button class="fg-color-4" (click)="stopStream()">
      <i class="material-icons">stop</i>
    </button>
  </mat-card-actions>
</mat-card>
