mat-card {
    margin-top: 10px;
    background-color: #998ea5;
    align-items: center;
    border-radius: 3px;
}

mat-toolbar {
    z-index: 10;
    background-color: #1A1A1A;
    border-left: 2px solid #673ab7;
    border-right: 2px solid #673ab7;
    border-bottom: 2px solid #673ab7;
    box-shadow: 0px -10px #1A1A1A;
    position: fixed;
    top: 64px;
    width: 80%;
    padding: 0;
}

mat-toolbar-row {
    padding: 0px 4px;
}

mat-card-content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

video {
    width: 20%;
    height: 100%;
}

mat-card-actions {
    padding: 2% 0px 2% 4%;
    margin: 0px;
    background-color: #252626;
    border-radius: 4px;
}

mat-form-field {
    padding-left: 20px;
    color: #998ea5;
    font-size: 11pt;
    flex: 1 1 auto;
}

#room-in-card {
    width: 50%;
    margin-left: 30%;
    background-color: #1A1A1A;
    color: #FFF;
    vertical-align: 20%;
}

#roomNumInput::placeholder {
    color: #998ea5;
}

.span-fill {
    flex: 1 1 auto;
}

#local-vid-controls {
    width: 20%;
    text-align: center;
}

#bottom-row {
    height: 10%;
}

.row-example {
    margin-top: 20%;
}