<mat-toolbar>
  <mat-toolbar-row>
    <video #localVideo id="localStream" autoplay playsinline></video>
    <mat-form-field>
      <input id="roomNumInput" matInput placeholder="Enter room #" (keyup)="roomInputKeyup($event)">
    </mat-form-field>
    <span>
      <button mat-icon-button class="fg-color-7" (click)="setConnection()">
        <i class="material-icons">phone_in_talk</i>
      </button>
      <button mat-icon-button class="fg-color-8">
        <i class="material-icons">phone_forwarded</i>
      </button>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row id="bottom-row">
    <span id="local-vid-controls">
      <button mat-icon-button class="fg-color-2" (click)="setConnection()">
        <i class="material-icons">videocam_off</i>
      </button>
      <button mat-icon-button class="fg-color-3" (click)="setConnection()">
        <i class="material-icons">mic_off</i>
      </button>
      <button mat-icon-button class="fg-color-4" (click)="hangup()">
        <i class="material-icons">call_end</i>
      </button>
    </span>
    <span class="span-fill">

    </span>
    <span>
      <button mat-icon-button class="fg-color-5">
        <i class="material-icons">phone_in_talk</i>
      </button>
      <button mat-icon-button class="fg-color-6">
        <i class="material-icons">phone_forwarded</i>
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<div fxLayout="row" fxLayoutAlign="center center" class="row-example">
    <mat-card fxFlex="80%" class="video">
      <mat-card-content>
        <video #remoteVideo id="remoteStream" autoplay playsinline></video>
      </mat-card-content>
    </mat-card>
</div>
