mat-card {
    margin-top: 10px;
    background-color: #998ea5;
    align-items: center;
    border-radius: 3px;
}

mat-form-field {
    width: 50%;
}

mat-card-content {
    //text-align: center;
    margin: 0;
}

mat-card-actions {
    padding: 2% 0px 2% 4%;
    margin: 0px;
    background-color: #252626;
    border-radius: 4px;
}

.mat-card > .mat-card-actions:last-child {
    padding: 1%;
    margin: 0px;
}

button {
    background-color: #252626;
    margin-left: 5px;
}

$color-grad-1: #355C7D;
$color-grad-2: #6C5B7B;
$color-grad-3: #C06C84;
$color-grad-4: #F67280;
$color-grad-5: #F8B195;
$color-grad-6: #ddd794;
$color-grad-7: #9db775;
$color-grad-8: #5ea8a4;

.conf-btn {
    color: $color-grad-7;
    border: 2px solid $color-grad-7;
}

.cancel-btn {
    color: $color-grad-4;
    border: 2px solid $color-grad-4;
}