<mat-card>
  <mat-card-title></mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input [(ngModel)]="loginData.username" name="username" matInput placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <input [(ngModel)]="loginData.password" name="password" type="password" matInput placeholder="Password">
    </mat-form-field>
  </mat-card-content><mat-card-actions>
    <button mat-icon-button class="conf-btn" (click)="login()"
      matTooltip="Log-in"
      [matTooltipShowDelay]="1000"
      aria-label="Button that displays a tooltip in various positions">
      <i class="material-icons">check</i>
    </button>
    <button mat-icon-button class="forgot-btn"
      matTooltip="Need help?"
      aria-label="Button that displays a tooltip in various positions">
      <i class="material-icons">priority_high</i>
    </button>
  </mat-card-actions>
</mat-card>
