mat-toolbar {
    z-index: 10;
    background-color: #1A1A1A;
    color: #998ea5;//#afafaf
    border-bottom: 2px solid #673ab7;
}

strong {
    font-size: 14pt;
    color: #d4afff;
}

#toolbar-btns {
    width: 20%;
    text-align: right;
}

#toolbar-title {
    width: 80%;
}

#lock-toolbar {
    position: fixed;
    top: 0;
}

#container {
    margin-top: 64px;
}

#user-role {
    font-size: 10pt;
    vertical-align: 8%;
}