.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.fill-rest-of-row {
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}