<mat-toolbar id="lock-toolbar" *ngIf="userIsActive">
  <span id="logo">
    <strong class="txt-color-6">HCP</strong>
  </span>
  <span id="toolbar-title">
    ~ {{userRoute.getUsername()}}<strong id="user-role"> ({{userRoute.getRole()}})</strong>
  </span>
  <span id="toolbar-btns">
    <button mat-icon-button (click)="logout()">
      <i class="material-icons">person</i>
    </button>
  </span>
</mat-toolbar>
<div id="container" *ngIf="userIsActive">
  <app-sidebar></app-sidebar>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
<app-login *ngIf="!userIsActive"></app-login>
