<nav [class.hide-border]="currentUrl != '/'">
  <ul>
    <li class="my-li">
      <a routerLink="" [ngClass]="currentUrl == '/' ? 'activated activated-home' : currentUrl == '/profile' ? 'bottom-right-fill' : 'top-right-fill'">
        <i class="material-icons">home</i>
      </a>
    </li>
    <li class="my-li">
      <a routerLink="profile" [ngClass]="currentUrl == '/profile' ? 'activated' : 'top-right-fill'">
        <i class="material-icons">account_circle</i>
      </a>
    </li>
    <li class="my-li">
      <a routerLink="friends" [class.activated]="currentUrl == '/friends'" [class.top-right-fill]="currentUrl == '/profile'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li class="my-li">
      <a routerLink="webrtc" [class.activated]="currentUrl == '/webrtc'">
        <i class="material-icons">video_call</i>
      </a>
    </li>
  </ul>
</nav>
