nav {
  position: fixed;
  background: #1A1A1A;
  height: 100%;
  //border-right: 1px solid #beabd3;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
      a {
        color: #998ea5;//#fff;
        padding: 10px;
        display: block;
        text-align: center;
        align-items: center;
        i {
          //border: 2px solid #1A1A1A;
          padding: 10px;
        }
      }
      .activated {
        //background-color: #cfb9e8;//#00a8ff;
        //color: #1A1A1A;
        color: #cfb9e8;
        background: #6e4b82;//#443d4c;
        //border-right: 2px solid #cfb9e8;
        i {
          //border-right: 2px solid #cfb9e8;
          background-color: #1A1A1A;//#4f4851;
        }
      }
    }
  }
}

.my-li {
  border-top: 1px solid #443d4c;
}