mat-card {
    margin-top: 10px;
    background-color: #bab1bf;
    align-items: center;
}

mat-form-field {
    width: 45%;
}

mat-card-content {
    text-align: center;
    margin: 0;
}

mat-card-actions {
    padding: 0px 0px 0px 15px;
    margin: 0;
}

button {
    margin-left: 5px;
}