/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #443d4c;//#625968;//#504747;//#4f4851;//#404242;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;
  #content {
    border-top: 2px solid #6e4b82;
    border-left: 2px solid #6e4b82;
    padding: 0px 50px;
    ul {
      list-style-type: none;
      margin:0;padding:0;
      li {
        background: #252626;
        color: #fff;
        border-radius: 2px;
        padding: 20px;
        margin-bottom: 8px;
        a {
          font-size: 1.0em;
          text-decoration: none;
          font-weight: bold;
          color: #beabd3;//#cfb9e8;//#00A8FF;
        }
        ul {
          margin-top: 20px;     
          li {
            padding:0;
            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

.danger {
  background-color: #ff7e6b;
}

.success {
  background-color: #aabd8c;
}

.info {
  background-color: #b0d7ff;
}

.warn {
  background-color: #e2c46f;
}

$color-red: #ff7e6b;
$color-green: #aabd8c;
$color-info: #b0d7ff;
$color-warn: #e2c46f;

$color-grad-1: #355C7D;
$color-grad-2: #6C5B7B;
$color-grad-3: #C06C84;
$color-grad-4: #F67280;
$color-grad-5: #F8B195;
$color-grad-6: #ddd794;
$color-grad-7: #9db775;
$color-grad-8: #5ea8a4;

.bg-color-grad-1 {
  background-color: $color-grad-1;
  border-left: 1px solid $color-grad-1;
  border-right: 1px solid $color-grad-1;
}

.bg-color-grad-2 {
  background-color: $color-grad-2;
  border-left: 1px solid $color-grad-2;
  border-right: 1px solid $color-grad-2;
}

.bg-color-grad-3 {
  background-color: $color-grad-3;
  border-left: 1px solid $color-grad-3;
  border-right: 1px solid $color-grad-3;
}

.bg-color-grad-4 {
  background-color: $color-grad-4;
  border-left: 1px solid $color-grad-4;
  border-right: 1px solid $color-grad-4;
}

.bg-color-grad-5 {
  background-color: $color-grad-5;
  border-left: 1px solid $color-grad-5;
  border-right: 1px solid $color-grad-5;
}

.bg-color-grad-6 {
  background-color: $color-grad-6;
  border-left: 1px solid $color-grad-6;
  border-right: 1px solid $color-grad-6;
}

.bg-color-grad-7 {
  background-color: $color-grad-7;
  border-left: 1px solid $color-grad-7;
  border-right: 1px solid $color-grad-7;
}

.bg-color-grad-8 {
  background-color: $color-grad-8;
  border-left: 1px solid $color-grad-8;
  border-right: 1px solid $color-grad-8;
}

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
