/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #252626;//#4f5154;//#443d4c;//#625968;//#504747;//#4f4851;//#404242;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: 70px auto;
  height: 100%;
  #content {
    //border-top: 2px solid #6e4b82;
    padding: 0px 50px;
    ul {
      list-style-type: none;
      margin:0;padding:0;
      li {
        border: 1px solid #673ab7;
        background: #1A1A1A;
        color: #fff;
        border-radius: 2px;
        padding: 20px;
        margin-bottom: 8px;
        a {
          font-size: 1.0em;
          text-decoration: none;
          font-weight: bold;
          color: #beabd3;//#cfb9e8;//#00A8FF;
        }
        ul {
          margin-top: 20px;     
          li {
            padding: 4px 0px 4px 6px;
            a {
              font-size: 1em;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
}

.danger {
  background-color: #F67280;
}

.success {
  background-color: #9db775;
}

.info {
  background-color: #5ea8a4;
}

.warn {
  background-color: #ddd794;
}

$color-red: #F67280;
$color-green: #9db775;
$color-info: #5ea8a4;
$color-warn: #ddd794;

$color-grad-1: #355C7D;
$color-grad-2: #6C5B7B;
$color-grad-3: #C06C84;
$color-grad-4: #F67280;
$color-grad-5: #F8B195;
$color-grad-6: #ddd794;
$color-grad-7: #9db775;
$color-grad-8: #5ea8a4;

.bg-color-grad-1 {
  background-color: $color-grad-1;
}

.bg-color-grad-2 {
  background-color: $color-grad-2;
}

.bg-color-grad-3 {
  background-color: $color-grad-3;
}

.bg-color-grad-4 {
  background-color: $color-grad-4;
}

.bg-color-grad-5 {
  background-color: $color-grad-5;
}

.bg-color-grad-6 {
  background-color: $color-grad-6;
}

.bg-color-grad-7 {
  background-color: $color-grad-7;
}

.bg-color-grad-8 {
  background-color: $color-grad-8;
}

.fg-color-1 {
  color: $color-grad-1;
  border: 2px solid $color-grad-1;
}
.fg-color-2 {
  color: $color-grad-2;
  border: 2px solid $color-grad-2;
}
.fg-color-3 {
  color: $color-grad-3;
  border: 2px solid $color-grad-3;
}
.fg-color-4 {
  color: $color-grad-4;
  border: 2px solid $color-grad-4;
}
.fg-color-5 {
  color: $color-grad-5;
  border: 2px solid $color-grad-5;
}
.fg-color-6 {
  color: $color-grad-6;
  border: 2px solid $color-grad-6;
}
.fg-color-7 {
  color: $color-grad-7;
  border: 2px solid $color-grad-7;
}
.fg-color-8 {
  color: $color-grad-8;
  border: 2px solid $color-grad-8;
}

.mat-tooltip {
  font-size: 10pt;
  //border: 2px solid #beabd35f !important;
}

.txt-color-6 {
  color: $color-grad-6;
}

//html, body { height: 100%; }
//body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
