#callButton {
    margin: 0px 3px;
}

button {
    background-color: #6e4b82;
    color: #1A1A1A;
    margin-bottom: 5px;
}

mat-card {
    border: 1px solid #1A1A1A;
    background-color: #443d4c;
    width: 400px;
}

mat-card-actions {
    text-align: center;
    border: 1px solid #1A1A1A;
}

mat-card-content {
    background-color: #252626;
}

.title-span {
    padding-left: 10px;
    font-size: 16pt;
}

.title-cards {
    background-color: #beabd3;//#d4afff;
    color: #1A1A1A;
    margin: 15px 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}